---
import BottomNav from '../components/BottomNav.astro';
---
<main class="min-h-screen flex flex-col justify-between bg-[var(--background-color)]">
  <h1 class="text-center text-2xl font-bold mt-8">Exploración</h1>
  <BottomNav />
</main> 