---
import LoginHeader from '../components/LoginHeader.astro';
import LoginForm from '../components/LoginForm.astro';
import LoginSocial from '../components/LoginSocial.astro';
import LoginFooter from '../components/LoginFooter.astro';
---
<main class="min-h-screen flex items-center justify-center bg-[var(--background-color)]">
  <section class="w-full max-w-xs p-6 rounded-lg shadow bg-[var(--color-primary)]">
    <LoginHeader />
    <LoginForm />
    <LoginSocial />
    <LoginFooter />
  </section>
</main> 