---
import heroBg from '@assets/images/hero-bg.png';
import './hero.css';
import { SearchForm } from './SearchForm.tsx';
---

<section class="">
  <div class="relative">
    <img src={heroBg.src} alt="Viaje" class="w-full object-cover h-[400px] max-h-[400px] mx-auto" />
    <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center text-white space-y-4">
      <h1 class="text-4xl font-bold tracking-tight">Descubre el mundo con Viajes Para Ti</h1>
      <p class="text-2xl">Genera recomendaciones de viajes con AI.</p>
      <p class="text-2xl">Donde te gustaria ir</p>
      <SearchForm client:load placeholder="Escribe tu destino" />
    </div>
  </div>
</section>
