---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero/Hero.astro";
import PopularDestination from "../components/PopularDestination/PopularDestination.astro";
import Explorer from "../components/Explorer/Explorer.astro";
import Contact from "../components/Contact/Contact.astro";
---

<Layout>
  <main>
    <Hero />
    <PopularDestination />
    <Explorer />
    <Contact />
  </main>

</Layout>

