---
import logoIcon from "@assets/images/logo-icon-1.svg";
---

<header class="w-full">
  <div class="container flex items-center justify-between mx-auto py-5">
    <div class="flex items-center gap-2">
      <img src={logoIcon.src} alt="TravelGen Logo" class="w-8 h-8" />
      <div class="flex flex-col">
        <h1 class="text-2xl font-bold">TravelGen</h1>
        <p class="text-sm text-gray-400">Generador de viajes personalizado</p>
      </div>
    </div>
    <div class="flex items-center gap-2">
      <button class="p-2 rounded-full hover:bg-white/10">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-5 h-5"
        >
          <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
        </svg>
      </button>
    </div>
  </div>
</header>

<script></script>
