---
import '../styles/global.css';
import Header from '@components/Header/Header.astro';
import favicon from '@assets/favicon.svg';
import Footer from '@components/Footer/Footer.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="icon" type="image/svg+xml" href={favicon.src} /> -->
    <title>Viajes Para Ti - Descubre el mundo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body class="bg-background-color font-family">
    <Header />
    <div class="app-container">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
.app-container {
  max-width: 1787px;
  margin: 0 auto;
  width: 100%;
}
</style>
